.navbar {
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #90e5ff;
  text-decoration: none;
}
.navbar-menu {
  display: flex;
  gap: 20px;
}
.navbar-link {
  color: #90e5ff;
  text-decoration: none;
  font-size: 1.5rem;padding: 0;
  margin: 0;
  /* padding: 2px 20px; */
  /* border-radius: 10px; */
  /* border-color: aliceblue; */
  /* border-width: 1px; */
  /* border-style: solid; */
  position: relative;
}

.navbar-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #90e5ff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navbar-link:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

